.-esm-login__login__forgot-password-container___-dYRo {
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: end;
    width: 18rem;
    margin-top: 0.5rem;
  }
  
  .-esm-login__login__forgot-password-link___iY59R {
    color: var(--kapsiki-01);
  }
  
  .-esm-login__login__forgot-password-link___iY59R:hover {
    color: var(--kapsiki-gray); 
  }