.-esm-login__login__login-card___eVRye {
  border-radius: 5px;
  width: 23rem;
  padding: 2.5rem;
  position: relative;
  min-height: 21.5rem;
  border-radius: 5px;
  color: var(--kapsiki-gray);
  font-family: var(--title-font-family);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.-esm-login__login__login-card___eVRye > h1 {
  text-align: center;
  font-weight: bold;
  color: #a0a0a1;
  font-size: 1.5em;
  margin-bottom: 2.5rem;
}
